* { /* resets */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --dark-blue-bg: hsl(215, 22%, 15%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 700;
  --mobile-breakpoint: 32rem;
  --text-color: var(--white);
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 0.9375rem;
  font-family: "Overpass";
  color: var(--text-color);
}

body {
  background-color: var(--very-dark-blue);
}

main {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}


.rating-component {
  border-radius: 1.5rem;
  background-color: var(--dark-blue-bg);
  width: 22rem;
  aspect-ratio: 1/1.15;
  gap: 1.5rem;
  padding: 2.5rem 1.5rem;
  justify-content: space-between;
}

.no-display {
  display: none !important;
}

.rating-component .rating-description {
  font-size: .85rem;
  color: var(--light-grey);
  line-height: 150%;
  font-weight: var(--fw-normal);
  letter-spacing: .05rem;
}

.rating-title {
  font-size: 1.5em;
  letter-spacing: .1em;
  font-weight: var(--fw-bold);
}

.user-rating-button {
  color: var(--light-grey);
  text-decoration: none;
  display: inline-block;
  appearance: none;
  cursor: pointer;
}

.user-rating-button[aria-checked="true"] {
  background-color: var(--light-grey);
  color: var(--white);
}

.user-rating-button:hover {
  background-color: var(--primary-orange);
  color: white;
}

.circle-bg {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: var(--dark-blue);
  display: inline-block;
}

.rating {
  justify-content: space-between;
}

.rating-component input[type="submit"] {
  border: none;
  border-radius: 1.5rem;
  height: 3rem;
  background-color: var(--primary-orange);
  color: var(--white);
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-weight: var(--fw-bold);
}

.rating-component input[type="submit"]:hover {
  background-color: var(--white);
  color: var(--primary-orange);
}

.rating-success {
  align-items: center;
  justify-content: space-around;
}

.your-rating {
  background-color: var(--dark-blue);
  padding: .5rem;
  border-radius: 1rem;
}

.your-selection-text {
  font-size: .86em;
  margin: 0 .5rem;
  color: var(--primary-orange);
  vertical-align: bottom;
}

.success-description {
  text-align: center;
}



@media only screen and (min-width: 32rem) {
  .rating-component {
    width: 28rem;
    font-size: 1.25rem;
    aspect-ratio: 1;
    padding: 2rem;
    border-radius: 2.5rem;
  }

  .rating-component .rating-description {
    line-height: 1.5rem;
    font-size: .75em;
  }

  .rating-success {
    padding: 3.5rem 2.3rem;
  }

  .rating-success .rating-title {
    font-size: 1.5em;
    letter-spacing: 0;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: auto;
  margin-bottom: .5rem;
  color: var(--white);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: #5875ec; }